<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitoa.mapper.DepartmentInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hzitoa.entity.DepartmentInfo">
		<id column="dept_id" property="deptId" />
		<result column="dept_name" property="deptName" />
		<result column="pid" property="pid" />
		<result column="company_id" property="companyId" />
		<result column="create_by" property="createBy" />
		<result column="create_date" property="createDate" />
		<result column="update_by" property="updateBy" />
		<result column="update_date" property="updateDate" />
	</resultMap>

</mapper>
