<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitoa.mapper.EmployeeInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hzitoa.entity.EmployeeInfo">
		<id column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="password" property="password" />
		<result column="wechat_id" property="wechatId" />
		<result column="dingding_id" property="dingdingId" />
		<result column="email" property="email" />
		<result column="dept_id" property="deptId" />
		<result column="company_id" property="companyId" />
		<result column="role_name" property="roleName" />
		<result column="isEmailActive" property="isEmailActive" />
		<result column="isLocked" property="isLocked" />
		<result column="isPermission" property="isPermission" />
		<result column="isDimission" property="isDimission" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<select id="selectAll" resultMap="BaseResultMap">
		SELECT * FROM employee_info;
	</select>

	<select id="loginSelect" parameterType="map" resultMap="BaseResultMap">
		SELECT * FROM
		employee_info ei WHERE ( ei.user_name = #{map.userName} OR ei.email = #{map.email} ) AND ei.isLocked = 0;
	</select>

</mapper>
