<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzitoa.mapper.EmployeeInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hzitoa.entity.EmployeeInfo">
		<id column="user_id" property="userId" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="wechat_id" property="wechatId" />
		<result column="dingding_id" property="dingdingId" />
		<result column="email" property="email" />
		<result column="dept_id" property="deptId" />
	</resultMap>

</mapper>
