<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="stylesheet" type="text/css" href="/assets/layui/css/layui.css">
    <style>
        .add-disable{
            pointer-events: none;
            background-color: lightgray;
        }
    </style>
</head>
<body>
<div style="margin:20px auto;width:70%;">
    <form id="addEmployeeInfoForm" class="layui-form " method="post">
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label label-font">用户名称<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <input name="name" lay-verify="name" id="name" autocomplete="off"
                       placeholder="请输入用户名称" class="layui-input required" type="text">
            </div>
        </div>
       <!-- <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label label-font">性别<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <div class="ayui-input-block">
                    <input name="gender" value="1" lay-verify="gender" title="男" checked type="radio">
                    <input name="gender" value="2" lay-verify="gender" title="女" type="radio">
                </div>
            </div>
        </div>-->

        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label label-font">企业邮箱<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <input name="email"  lay-verify="email" placeholder="请输入企业邮箱" autocomplete="off"
                       class="layui-input" type="email">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label label-font">微信账号</label>
            <div class="layui-input-block">
                <input name="wechatId" placeholder="请输入微信账号" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label label-font">钉钉账号</label>
            <div class="layui-input-block">
                <input name="dingdingId" placeholder="请输入钉钉账号" autocomplete="off" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label">所在公司<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <select   name="companyId" lay-verify="companyId" lay-filter="companyId">
                    <!--<option value="">请选择所在公司</option>-->
                    <option th:each="company,companyStat:${companyList}"
                            th:selected="${company.dictId == session.employeeInfo.companyId}"
                            th:text="${company.name}" th:value="${company.dictId}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left;" >
            <label class="layui-form-label">所在部门<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block" id="deptDiv">
                <select name="deptId" id="deptId" lay-verify="deptId" lay-filter="deptId">
                    <!--<option value="">请选择所在部门</option>-->
                    <option th:each="departmentInfo,departmentInfoStat:${departmentInfoList}"
                            th:text="${departmentInfo.deptName}" th:value="${departmentInfo.deptId}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: left;">
            <label class="layui-form-label">角色分配<i style="color:orange;" class="layui-icon"></i></label>
            <div class="layui-input-block">
                <select name="roleName" id="roleName" lay-verify="roleName" lay-filter="roleName">
                    <!--<option value="">请选择角色</option>-->
                    <option th:each="tbRole,tbRoleStat:${tbRoleList}"
                            th:text="${tbRole.roleName}" th:value="${tbRole.roleName}"></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-font"></label>
            <span><input id="add" type="button" class="layui-btn layui-btn-small" lay-submit="" lay-filter="add"
                         value="保存"></span>
            <span><input type="reset" class="layui-btn layui-btn-danger layui-btn-small" value="重置"></span>
            <span><input type="button" id="cancel" class="layui-btn layui-btn-warm layui-btn-small" value="关闭"/></span>
        </div>
    </form>
</div>


<script src="/assets/js/jquery-2.0.3.min.js"></script>
<script src="/assets/layui/layui.all.js"></script>
<!--<script src="/assets/My97DatePicker/WdatePicker.js"></script>-->
<script src="/script/employeeInfo/add.js"></script>
</body>
<script>
    $(function(){
//        $("select").prop("disabled","disabled");
    })
</script>
</html>